//------------------------------------
// #Variables
//------------------------------------

$middleman-yellow: #fbc547;
$tan-F3E9DB: rgba(95%,91%,86%,1.00); 
$gray-FAEFEF-70: rgba(98%,94%,94%,0.70); 
$black-1F1E1E: rgba(12%,12%,12%,1.00); 
$gray-FAEFEF: rgba(98%,94%,94%,0.70); 
$white-FFFFFF: rgba(100%,100%,100%,1.00); 
$gray-FBFBFB: rgba(98%,98%,98%,1.00); 
$red-FF2A00: rgba(100%,17%,0%,1.00); 
$red-D83018: rgba(85%,19%,9%,1.00); 
$black-34302E: rgba(20%,19%,18%,1.00); 
