---
title: Kinetic Data
---
%section#intro.project-intro
  %div 
    %h2 Task Tree Builder
  %div
    = image_tag "screenshot-tree.png"

%section.project-content
  %p Workflow and automation builder for enterprise. I helped build a drag and drop editor to build powerful workflows. You can quickly build nodes that match tasks which are configurable. 
  
  %h3 1. Introduction & goal
  %p What was the task at hand?
  %h3 2. Your process
  %p How did you approach the problem? How did you work through it?
  %h3 3. Images with captions
  %p Make it easy to scan your case study and understand the context.
  %h3 4. The outcome
  %p What was the final result? How is this a success story?
  %h3 5. Credits
  %p Be sure to include what role you played, and credit your team.    
  = image_tag "screenshot-tree.png"