//------------------------------------
// # Single-Page
//------------------------------------

.project-intro h2 {
  font-weight: 700;
  font-size: 7.25rem;
  color: $black-34302E;
  text-align: left;
  line-height: 1;
}
