//------------------------------------
// # Header
//------------------------------------

nav{
    background-color: $red-FF2A00;
    color: $white-FFFFFF;
    a{
        color: $white-FFFFFF;
    }
}