%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title norm0

/ Global site tag (gtag.js) - Google Analytics
%script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=G-47T8JG212T"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-47T8JG212T');

/ Single source of truth for meta tags; run the gem defaults, then override viewport and render.
- auto_set_meta_tags
- set_meta_tags(viewport: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0")
= display_meta_tags
= auto_display_favicon_tags if build?
= stylesheet_link_tag "application"

%link{href: "/humans.txt", rel: "author", type: "text/plain"}/

/ Font loading optimization
%link{href: "//use.typekit.net/gzs8whn.css", rel: "preload", as: "style", onload: "this.rel='stylesheet'"}/
