
%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%title
    norm0
/ Global site tag (gtag.js) - Google Analytics
%script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-111696719-2"}
:javascript
    window.dataLayer = window.dataLayer || [];
    function gtag() {
    dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-111696719-2");
%meta{charset: "utf-8"}/
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
%meta{content: "telephone=no", name: "format-detection"}/
%meta{content: "Norman Orstad", name: "author"}/
%meta{content: "Personal site of Norman Orstad", name: "description"}/
%link{href: "https://en.gravatar.com/userimage/348293/378f0d7edc2d6c44cdbce81ce9b6f22f.png", rel: "shortcut icon"}/
= stylesheet_link_tag 'main'
%link{href: "site.webmanifest", rel: "manifest"}/
%link{href: "/humans.txt", rel: "author", type: "text/plain"}/
%meta{content: "#fafafa", name: "theme-color"}/
%link{href: "//use.typekit.net/gzs8whn.css", rel: "stylesheet"}/