%nav
	.main-nav
		.logo= link_to "norm0", "/"
		%ul
			%li= link_to "work", "#work"
			%li= link_to "capabilities", "#capabilities"
			%li= link_to "about", "#about"
// .grid
// 	.mobile-header
// 		.row
// 			.col-lg-10.offset-lg-1.mobile-nav-container
// 				.mobile-nav
// 					%button.mobile-nav-close-toggle.js-toggle-nav
// 						%span.top
// 						%span.bottom
// 					.mobile-nav-menu
// 						.top
// 							%li= link_to "work", "#work"
// 						.top
// 							%li= link_to "capabilities", "#capabilities"
// 						.top
// 							%li= link_to "about", "#about"
// 						.sub.social
// 							%a{href: "https://twitter.com/norm0/"}
// 								%span
// 									%img{alt: "Twitter", src: ""}/
