//------------------------------------
// # Default-Theme
//------------------------------------

html{
    scroll-behavior: smooth;
}

a{
    color: $red-FF2A00;
    &:hover {
        color: rgba($red-FF2A00, .7);
        text-decoration: underline;
    }
}
